E-Hospital/E-Hospital.Client/Connected Services/UserService/E_Hospital.BLL.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DoctorDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="SpecializationName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DoctorDto" nillable="true" type="tns:DoctorDto" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" type="tns:UserRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:simpleType name="UserRoles">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Doctor" />
      <xs:enumeration value="Patient" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserRoles" nillable="true" type="tns:UserRoles" />
  <xs:complexType name="ArrayOfVisitRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisitRequestDto" nillable="true" type="tns:VisitRequestDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitRequestDto" nillable="true" type="tns:ArrayOfVisitRequestDto" />
  <xs:complexType name="VisitRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doctor" nillable="true" type="tns:DoctorDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsApproved" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Patient" nillable="true" type="tns:PatientDto" />
      <xs:element minOccurs="0" name="VisitTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisitRequestDto" nillable="true" type="tns:VisitRequestDto" />
  <xs:complexType name="PatientDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="MedicalCard" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PatientDto" nillable="true" type="tns:PatientDto" />
  <xs:complexType name="ArrayOfSpecializationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecializationDto" nillable="true" type="tns:SpecializationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecializationDto" nillable="true" type="tns:ArrayOfSpecializationDto" />
  <xs:complexType name="SpecializationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecializationDto" nillable="true" type="tns:SpecializationDto" />
</xs:schema>