E-Hospital/E-Hospital.Client/Connected Services/UserService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" />
  <xs:element name="LogInDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="doctor" nillable="true" type="q1:DoctorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleForToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="doctor" nillable="true" type="q2:DoctorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleForTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetScheduleForTodayResult" nillable="true" type="q3:ArrayOfVisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="doctor" nillable="true" type="q4:DoctorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetPendingRequestsResult" nillable="true" type="q5:ArrayOfVisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRequestState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visitRequestId" type="xs:int" />
        <xs:element minOccurs="0" name="isApproved" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveVisitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="doctor" nillable="true" type="q6:DoctorDto" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="visitRequest" nillable="true" type="q7:VisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="doctor" nillable="true" type="q8:DoctorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetDoctorResult" nillable="true" type="q9:DoctorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePendingRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="visitRequest" nillable="true" type="q10:VisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="currentPatient" nillable="true" type="q11:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetVisitRequestsResult" nillable="true" type="q12:ArrayOfVisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVisitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="visitRequest" nillable="true" type="q13:VisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="patient" nillable="true" type="q14:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="patient" nillable="true" type="q15:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetPatientResult" nillable="true" type="q16:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="visitRequest" nillable="true" type="q17:VisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecializations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecializationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetSpecializationsResult" nillable="true" type="q18:ArrayOfSpecializationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetDoctorsResult" nillable="true" type="q19:ArrayOfDoctorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>