E-Hospital/E-Hospital.Client/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" />
  <xs:element name="GetScheduleForToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="doctor" nillable="true" type="q1:DoctorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleForTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetScheduleForTodayResult" nillable="true" type="q2:ArrayOfVisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="doctor" nillable="true" type="q3:DoctorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetPendingRequestsResult" nillable="true" type="q4:ArrayOfVisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRequestState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visitRequestId" type="xs:int" />
        <xs:element minOccurs="0" name="isApproved" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveVisitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="doctor" nillable="true" type="q5:DoctorDto" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="visitRequest" nillable="true" type="q6:VisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="doctor" nillable="true" type="q7:DoctorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePendingRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="visitRequest" nillable="true" type="q8:VisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="currentPatient" nillable="true" type="q9:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetVisitRequestsResult" nillable="true" type="q10:ArrayOfVisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVisitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="visitRequest" nillable="true" type="q11:VisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="patient" nillable="true" type="q12:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="patient" nillable="true" type="q13:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="visitRequest" nillable="true" type="q14:VisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>