E-Hospital/E-Hospital.Client/Connected Services/PatientService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" />
  <xs:element name="GetVisitRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="currentPatient" nillable="true" type="q1:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="GetVisitRequestsResult" nillable="true" type="q2:ArrayOfVisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVisitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="visitRequest" nillable="true" type="q3:VisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" minOccurs="0" name="visitRequest" nillable="true" type="q4:VisitRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>