E-Hospital/E-Hospital.Client/Connected Services/AuthService/E_Hospital.BLL.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/E_Hospital.BLL.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" type="tns:UserRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:simpleType name="UserRoles">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Doctor" />
      <xs:enumeration value="Patient" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserRoles" nillable="true" type="tns:UserRoles" />
</xs:schema>